.container1 {
  max-width: 100%;
  margin-top: 0%;
  margin: auto;
  background-color: rgb(192, 221, 247);
  font-family: sans-serif, "Courier New", Courier, monospace;
}
.top {
  background-color: rgb(220, 238, 253);
  position: absolute;
  text-align: center;
  width: 100%;
  margin-left: 0;
}
h5,
h1 {
  line-height: 1;
  color: rgb(108, 48, 248);
  font-family: serif;
  text-align: center;
}
.top li {
  margin-right: 10px;
  margin-left: 10px;
  list-style: none;
  float: left;
  padding: 5px 5px;
  color: rgb(252, 252, 253);
}
.links a:hover {
  background-image: linear-gradient(rgb(73, 17, 226), rgb(229, 232, 238));
}
ul {
  padding-inline-start: 0;
  list-style-type: none;
}
.links a {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 10px 2px 5px rgba(10, 115, 235, 0.45),
    inset 10px 2px 5px rgba(116, 184, 240, 0.45);
}
.link a {
  float: right;
}

.bottom {
  position: relative;
  top: 150px;
}

.bottom a {
  text-decoration: none;
  border: none;
  position: relative;
  top: 80px;
}

.bottom :hover {
  background-image: linear-gradient(rgb(73, 17, 226), rgb(229, 232, 238));
}
.classe1 {
  position: absolute;
  margin: 30px 300px;
  width: 200px;
  height: 200px;
  padding: 5px 5px;
  box-shadow: 5px 2px 2px rgba(10, 115, 235, 0.25);
  text-align: center;
  border-radius: 100%;
  background-image: linear-gradient(rgb(91, 134, 214), rgb(229, 232, 238));
}
.classe2 {
  position: absolute;
  left: 200px;
  margin: 30px 400px;
  width: 200px;
  height: 200px;
  padding: 5px 5px;
  box-shadow: 5px 2px 2px rgba(10, 115, 235, 0.25);
  text-align: center;
  border-radius: 100%;
  background-image: linear-gradient(rgb(91, 134, 214), rgb(229, 232, 238));
}

.classe3 {
  position: absolute;
  left: 400px;
  margin: 30px 500px;
  width: 200px;
  height: 200px;
  padding: 5px 5px;
  box-shadow: 5px 2px 2px rgba(10, 115, 235, 0.25);
  text-align: center;
  border-radius: 100%;
  background-image: linear-gradient(rgb(91, 134, 214), rgb(229, 232, 238));
}
.classe4 {
  position: absolute;
  top: 220px;
  margin: 30px 300px;
  width: 200px;
  height: 200px;
  padding: 5px 5px;
  box-shadow: 5px 2px 2px rgba(10, 115, 235, 0.25);
  text-align: center;
  border-radius: 100%;
  background-image: linear-gradient(rgb(91, 134, 214), rgb(229, 232, 238));
}
.classe5 {
  position: absolute;
  left: 200px;
  margin: 30px 400px;
  top: 220px;
  width: 200px;
  height: 200px;
  padding: 5px 5px;
  box-shadow: 5px 2px 2px rgba(10, 115, 235, 0.25);
  text-align: center;
  border-radius: 100%;
  background-image: linear-gradient(rgb(91, 134, 214), rgb(229, 232, 238));
}
.classe6 {
  position: absolute;
  left: 400px;
  margin: 30px 500px;
  top: 220px;
  width: 200px;
  height: 200px;
  padding: 5px 5px;
  box-shadow: 5px 2px 2px rgba(10, 115, 235, 0.25);
  text-align: center;
  border-radius: 100%;
  background-image: linear-gradient(rgb(91, 134, 214), rgb(229, 232, 238));
}
footer {
  background-color: rgb(43, 61, 77);
  position: absolute;
  top: 650px;
  text-align: center;
  width: 100%;
  color: aliceblue;
  padding: 20px 20px;
}
